# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=your_account_role

SNOWFLAKE_DATABASE=NYC_HOUSING_DB
SNOWFLAKE_SCHEMA=STAGING
SNOWFLAKE_WAREHOUSE=your_warehouse_name
SNOWFLAKE_STAGE=your_stage_name

# GCP / GCS
GCS_BUCKET=your_bucket_name
GCP_PROJECT_ID=your_project_id

# Dataproc
DATAPROC_CLUSTER=your_cluster_name
DATAPROC_REGION=your_region

# API
NYC_APP_TOKEN=your_nyc_open_data_token